@media only screen and (min-width: 1024px) {
  body {
  }
  /* logo */

  .logo-menu-1 a i {
  }
  /* main et menu */
  .image-menu {
    width: 100%;
  }

  .conteneur-menu {
    /* margin: auto;
    width: 80%;
    height: 100%;
    margin-top: -30px;
    border-radius: 20px 20px 0 0; */
  }

  .conteneur-carte {
    padding: 0 200px 0 200px;
  }

  /* Button */
  .btn-comm {
    left: 40%;
    margin-bottom: 40px;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
   
    flex-direction: row-reverse;
  }

  footer a h2 {
    display: inline-flex;
    justify-content: flex-end;
    padding: 65px 50px 35px  25px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding: 65px 25px 25px  25px;
    margin: 0;
  }
}
