body {
  max-width: 1440px;
  padding: 0;
  margin: 0;
}

/* logo */
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Shrikhand", cursive;
  text-decoration: none;

  color: #101010;
  margin: 30px;
}
.logo img {
  width: 200px;
}

/* maps */

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border: none;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}
.map input {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
  color: #353535;
}

/* explorer le resto */

.explorer-resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.button a {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 10px;
  border: none;
  background: linear-gradient(358deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 1px 5px 9px 0px rgb(109 109 109 / 70%);
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 300ms;
  width: 220px;
}
.explorer-resto h1 {
  margin: 30px 0 18px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.explorer-resto p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.button a p {
  font-size: 16px;
  font-weight: 500;
}
/* Fonctionnement */

.conteneur-fonc {
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-decoration: none;
  gap: 35px;
  padding: 50px 20px 50px 25px;
  background-color: #ffffff;
}
.titre h1 {
  margin: 50px 0 0 190px;
  font-size: 24px;
  background-color: #ffffff;
}

.conteneur-fils {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 323px;
  height: 73px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 20px;
}

.conteneur-fils :hover i {
  color: #9356dc;
}

.conteneur-fils p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.conteneur-fils i {
  color: #7e7e7e;
  padding-right: 20px;
  font-size: 20px;
  height: 20px;
}
.conteneur-fils .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  color: white;
  width: 28px;
  height: 28px;
  font-size: 18px;
  border-radius: 100%;
  background-color: #9356dc;
}

/* Menu Cards */

.main-menu {
  background-color: #f6f6f6;
  padding: 15px 15px 50px 15px;

  display: grid;
  grid-template-columns: 490px 490px;
  justify-content: center;

  column-gap: 90px;
}
.menu-titre {
  grid-column: 1/-1;
}
.menu-cards {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.15);
  background-color: #ffffff;
  margin-top: 50px;
}

/* Images */
.menu-cards img {
  cursor: pointer;
  width: 100%;
  height: 219px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.image-cards span {
  width: 80px;
  background-color: #99e2d0;
  padding: 5px;
  color: #008766;

  text-align: center;
  position: absolute;
  margin-left: -130px;

  margin-top: 15px;
}
/* Textes */
.text-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 12px;
}
.text-cards h2 {
  font-size: 18px;
  font-weight: 700;
}
.menu-cards p {
  font-size: 17px;
  font-weight: 300;
  padding: 0 20px 0 12px;
  position: relative;
  bottom: 28px;
}
.text-cards i {
  font-size: 30px;
}
/* hover */
.like-heart {
  display: flex;
  justify-content: center;
}
.empty-heart {
  position: relative;
}

.full-heart {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-heart:hover {
  opacity: 1;
}

/* Footer */
footer {
  background-color: #353535;
  display: inline-flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 22px;
  width: 97%;
  height: 114px;
  
}
footer a h2 {
  display: inline-flex;
  justify-content: flex-end;

  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
footer ul a {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
footer ul i {
  padding-right: 10px;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  list-style-type: none;
  line-height: 25px;
}
footer ul li {
  padding: 0 20px 0 20px;
}
