@media only screen and (min-width: 1024px) {
  

  /* Loading animation */
  .loading {
    
  }
  .loading h1 {
    font-size: 100px;
    bottom: -25%;
  }
  .wave {
    width: 600px;
    height: 600px;
  }

  /* logo */
  .logo a {
    gap: 50px;
    font-family: "Shrikhand", cursive;
    text-decoration: none;
    color: #101010;
  }

  .logo img {
    width: 200px;
  }

  /* maps */
  .map {
    margin: 0 auto;
    padding-left: 25px;
    gap: 17px;
  }

  .map input {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  /* explorer le resto */

  .explorer-resto h1 {
    /* margin: 30px 0 18px 0; */
    text-align: center;
    font-size: 40px;
  }

  .explorer-resto p {
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
  }

  /* Fonctionnement */
  .conteneur-fonc {
    padding: 15px 10% 30px 10%;
  }

  .list-conteneur-fils {
    flex-direction: row;
  }
  .conteneur-fils {
    padding-left: 5%;
    justify-content: flex-start;
  }

  /* Menu Cards */
  .main-menu {
    padding: 15px 10% 30px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 90px;
  }

  .menu-titre {
    grid-column: 1/-1;
  }

  .menu-cards {
    margin-top: 30px;
    transition: transform 500ms linear;
  }

  .menu-cards:hover {
    transform: scale(1.1);
  }

  /* Textes */

  .text-cards h2 {
    margin: 0;
    padding: 20px 0 10px 20px;
  }

  .menu-cards p {
    padding-left: 20px;
    margin-top: 0;
  }

  /* hover */
  .like-heart {
    justify-content: flex-end;
    padding-right: 33px;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 50px;
  }
  footer a h2 {
    display: inline-flex;
    justify-content: flex-end;
    padding: 65px 50px 35px 25px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

    margin: 0;
    padding: 65px 25px 25px 25px;
  }
}
